<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LinkedInClient</display-name>
  <welcome-file-list>
    <welcome-file>/View/SignUp.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/View/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signIn</display-name>
    <servlet-name>signIn</servlet-name>
    <servlet-class>servlets.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/View/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProfile</display-name>
    <servlet-name>editProfile</servlet-name>
    <servlet-class>servlets.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile</servlet-name>
    <url-pattern>/View/displayEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updProfile</display-name>
    <servlet-name>updProfile</servlet-name>
    <servlet-class>servlets.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updProfile</servlet-name>
    <url-pattern>/View/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>conn</display-name>
    <servlet-name>conn</servlet-name>
    <servlet-class>servlets.Connections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>conn</servlet-name>
    <url-pattern>/View/connections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connReq</display-name>
    <servlet-name>connReq</servlet-name>
    <servlet-class>servlets.ConnectionRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connReq</servlet-name>
    <url-pattern>/View/connReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signout</display-name>
    <servlet-name>signout</servlet-name>
    <servlet-class>servlets.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/View/signOut</url-pattern>
  </servlet-mapping>
</web-app>